.viewport {
  composes: ric-absolute from global;

  display: grid;
  grid-template-columns: 1fr 130px;
  grid-template-rows: 37px 1fr;
  height: 100%;
  grid-gap: 10px;
  margin: 10px;
}

.viewport input {
  height: 100%;
}

.input {
  display: grid;
  grid-template-columns: 130px 1fr;
}

.path {
  composes: ric-mono from global;
  font-size: 12px;
  align-self: center;
}

.path .verb {
  font-weight: bold;
  margin-right: 7px;
  color: var(--light-olive-green);
}

.logs {
  composes: ric-mono from global;
  composes: ric-can-text-select from global;

  margin-top: 10px;
  font-size: 11px;
  overflow: auto;
  grid-column-start: 1;
  grid-column-end: 3;
}

.line {
  display: grid;
  grid-template-columns: 20px 55px 1fr;
}
